[2020-12-26 05:39] prateem opened #2 "Release required for support with WowUp"
Not sure if this is something that's a priority or not but for those that use WoWUp, to install via Github there needs to be a release asset.

See:

https://i.imgur.com/8GIEhRk.png

[2020-12-26 05:44] miasmos commented on #2
+1, also experiencing this

[2020-12-26 05:49] jstasila commented on #2
+1, having the same problem as Mr. prateem and Mr. stephenpoole

[2020-12-26 05:58] FilthySerf opened #3 "Failed To load (Various)"
Upon loading into the game after installing the addon, I'm greeted with all of these errors. (ignore the x2 part, I had relogged to see if it stayed around so it counted each error twice)

![image](https://user-images.githubusercontent.com/68087666/103146289-58c9e600-4704-11eb-96c3-fc8780c51c57.png)

It looks like you're missing a bunch of the library files from the original MDT.

Mythic Dungeon T

[2020-12-26 07:40] Defenex commented on #2
@Tomslack  I think this can be fixed by adding a zip of the source to the release artifacts. I think it should be ManbabyDungeonTools.zip that contains the folder ManbabyDungeonTools that contains all the addon files from the repo.

[2020-12-26 11:15] ShaanMeisterr commented on #3
same issue
1x ...eManbabyDungeonTools\ManbabyDungeonTools-3.3.4.lua:1042: bad argument #1 to 'random' (interval is empty)
[string "=[C]"]: in function `random'
[string "@ManbabyDungeonTools\ManbabyDungeonTools-3.3.4.lua"]:1042: in function `UpdateBottomText'
[string "@ManbabyDungeonTools\ManbabyDungeonTools-3.3.4.lua"]:676: in function `ShowInterface'
[string "@ManbabyDungeonTools\ManbabyDungeonTo

[2020-12-26 12:35] Nercus commented on #3
this is another issue and is not caused by the missing libs

[2020-12-26 12:37] Nercus opened #4 "Slash commands and hiding minimap button lead to error"
By either using the Slash commands `/mdt` or `/manbabydungeontools` or going into the options to hide the minimap button leads to following error:

[code]

Edit: Clicking on the minimap button leads to same error (opens the window though)

[2020-12-26 12:38] Nercus opened #5 ""Drawing Line" Button Texture Missing"
![image](https://user-images.githubusercontent.com/48932939/103151592-a0418800-477f-11eb-9aaf-00526e3b8bb6.png)
As seen in the picture the "Drawing Line" Button in the toolbar is missing it's texture

[2020-12-26 13:14] Lurtzthetank opened #6 "Add-on not working at all"
First off, thanks guys for doing this!
Secondly, I am having an issue with the add-on loading at all. I am get 12 Lua Warnings.
error loading: Libstub
Aceaddon-3.0
Callbackhandler-1.0
AceDB-3.0
AceGUI-3.0
ChatThrottleLib
AceComm-3.0
AceSerializer-3.0
LibCompress
LibDataBroker-1.1
LibDBIcon-1.0
AceConfig-3.0

[2020-12-26 13:34] ShmooDude commented on #6
It's because the libraries are missing.  I believe they're normally included when a build is uploaded to curseforge but not typically included in the GitHub repository.

If you want to fix it yourself, you can download a copy of MythicDungeonTools and copy the `libs` folder into ManbabyDungeonTools and I would bet that would work (I had to do the same thing when I downloaded 3.3.4 of MythicDungeon

[2020-12-26 13:52] Tomslack commented on #6
Should be fixed now.

[2020-12-26 13:52] #6 closed

[2020-12-26 13:52] Tomslack commented on #2
Thanks for that, I've added a release asset.

[2020-12-26 13:52] #2 closed

[2020-12-26 13:53] Tomslack commented on #3
Libs are now uploaded to the repository as well. 2nd issue has it's own reporting in a seperate report.

Thanks both

[2020-12-26 13:53] #3 closed

[2020-12-26 14:07] Lurtzthetank commented on #6
not working still.

edit: add-on is working after copying the libs folder from mythicdungeontools.
Now the logo on the mini-map has disappeared. Not trying to be a pain in the ass. Just trying to help!
Thanks again.

[2020-12-26 15:34] NaNraptor opened #8 "Dungeon data"
How can update the dungeon data in an automated manner?

For example plaguefall currently seems to have wrong % as a route I follwed to the point did not get me to 100 as it should have.

Essentially what I am aslking is where do we get the % data so that we can regenerate the dungeon specific lua files?

[2020-12-26 15:46] Tomslack commented on #8
Count data is all in the dungeon.lua files so it would be in the shadowlands folder and then the plaguefall.lua

If you can link a log of your run i'll take a look through and find where the count is incorrect

[2020-12-26 15:47] T3ll1nG commented on #4
The same error is also thrown when using the minimap button.

[2020-12-26 15:50] NaNraptor commented on #8
Do you mean the combat log? I didnt log that run but I will make one 2+ or something run soon just to combat log it and share the log

[2020-12-26 15:51] mmpashby commented on #4
[this](https://github.com/Tomslack/ManbabyDungeonTools/pull/9) should fix the issue.

[2020-12-26 16:16] T3ll1nG commented on #4
It didn't fix it for me.

[2020-12-26 16:18] T3ll1nG opened #10 "Routes not being saved"
The routes are not correctly saved. You can't load your old routes and if you do a new route it is only temporarily saved. A /reload wipes the addon back to default, so does closing the game.

[2020-12-26 16:46] mmpashby commented on #4
@T3ll1nG Can you provide the error you get please? This fix did work for me on testing.

[2020-12-26 16:56] T3ll1nG commented on #4
@Pashbee
You suggested changing line 570 in MDT/Locales/enUS

I run Win10 en-US and the gameclient is en-US too.

I get the same error message as before.

**If you click the minimap button:**
2x ...eManbabyDungeonTools\ManbabyDungeonTools-3.3.4.lua:1042: bad argument #1 to 'random' (interval is empty)
[string "=[C]"]: in function `random'
[string "@ManbabyDungeonTools\ManbabyDungeonTools-3.3.4.lua

[2020-12-26 17:18] NaNraptor commented on #8
[path.txt](https://github.com/Tomslack/ManbabyDungeonTools/files/5743445/path.txt) - route export
[WoWCombatLog.txt](https://github.com/Tomslack/ManbabyDungeonTools/files/5743434/WoWCombatLog.txt) - combat log

there it is

[2020-12-26 17:38] GrantiMC commented on #10
have the problem too

[2020-12-26 17:38] GrantiMC opened #11 "Share the route"
Hello i can't share my routes

[2020-12-26 17:43] mmpashby commented on #4
the PR got merged but you're right it does not work because of case sensitivity on the lookup. I am sorry. I will fix and put a PR in again.

[2020-12-26 17:55] mmpashby commented on #4
@T3ll1nG fix [here](https://github.com/Tomslack/ManbabyDungeonTools/pull/12) - I could re-produce the error you were seeing. Please let me know if that works.

[2020-12-26 18:03] T3ll1nG commented on #4
@Pashbee that fix works just fine.
Nice  👍

[2020-12-26 18:13] sysasysa commented on #10
Same issue, after relogging or even reloading UI, the imported routes disappeared

[2020-12-26 18:55] lexaprofessional commented on #4
@Pashbee i had the same issue but your fix + changing the casing worked for me as well

[2020-12-26 19:48] klepp0906 opened #15 "just reporting a lua error"
opening the gui greets with

[code]

thank you for this regardless <3

[2020-12-26 19:48] mmpashby commented on #5
@Nercus Thanks for reporting. I could reproduce this issue. Fixed in [PR #14](https://github.com/Tomslack/ManbabyDungeonTools/pull/14/files).
![image](https://user-images.githubusercontent.com/3316329/103158225-7013dc80-47b3-11eb-9154-05f0512a02d3.png)

[2020-12-26 19:55] mmpashby commented on #15
duplicates [issue #4](https://github.com/Tomslack/ManbabyDungeonTools/issues/4)

[2020-12-26 22:58] #5 closed

[2020-12-26 22:58] #4 closed

[2020-12-26 22:59] Tomslack commented on #15
This should be resolved now

[2020-12-26 22:59] #15 closed

[2020-12-26 22:59] Tomslack commented on #10
This should now be resolved thanks to Toesmasher

[2020-12-26 23:00] #10 closed

[2020-12-26 23:00] Tomslack commented on #8
Thanks, I'll take a look and see where the count is being lost

[2020-12-26 23:00] Tomslack commented on #11
Issue caused by differing versions of Mythic Dungeon Tools and this

[2020-12-26 23:00] #11 closed

[2020-12-26 23:56] Mirokira opened #18 "Saving Routes seems to not work"
So whenever i import a route it will import fine but as soon as i relog the route will not be there anymore.

[2020-12-27 00:11] baruchvlz commented on #18
Dup: https://github.com/Tomslack/ManbabyDungeonTools/issues/10

[2020-12-27 00:40] srenauld commented on #18
@baruchvlz is right - with the current version (1.1.0), I cannot replicate.

Pick up that, unzip it, and go from there!

[2020-12-27 01:34] jarxjarx opened #21 "Load correct sub-zone in instances?"
Not added with #20, seems like sub-zones are tied in deeper, so didn't see a simple fix like for main zone. Biggest QoL was for sure the instance.

[2020-12-27 01:38] Tomslack commented on #18
Fixed with newest version.

[2020-12-27 01:38] #18 closed

[2020-12-27 11:12] Ziphe123 commented on #8
Hi installing the addon dosnt work for me maybe im doing it wrong? I just placed the manbabydungentools folder in interface addons but nothing shows in game

[2020-12-27 11:18] Ziphe123 opened #22 "Cant seem to install"
Installing it dosnt seem to work for me. Ive placed it in the addons folder but nothing shows up in game

[2020-12-27 11:21] #22 closed

[2020-12-27 12:07] mmpashby commented on #8
hi @Ziphe123 - please don't tailgate other issues. Create a seperate one with this question.

[2020-12-27 15:22] shaunpj opened #24 "Not working D:"
I downloaded the file, extracted it to my addons folder for retail, and its not working any help would be greatly appreciated.

[2020-12-27 15:33] madar2252 commented on #24
the folder name should be "ManbabyDungeonTools" , delete the "-main" if it's still there

[2020-12-27 16:08] shaunpj commented on #24
BRUH you're da man!!! that fixed it tysm!

[2020-12-27 18:05] srenauld commented on #24
Closing since resolved 👍

[2020-12-27 18:05] #24 closed

[2020-12-27 23:10] Nelwin77 opened #25 "Addon Not Popping Up In Game"
I have downloaded and extracted this addon to the WOW folder, and its in my addon folder with all the info, but whenever I open my game the addon doesn't seem to pop up in my addon list anywhere for me to actually use in game not sure what I'm missing if you could possibly assist with a suggestion.

[2020-12-27 23:16] #25 closed

[2020-12-27 23:17] srenauld commented on #25
Guessing you found how, judging by the closure :-)

I'll sort out releases so the zip file is done properly when I get around to modifying a few things.

[2020-12-27 23:43] boomboo opened #27 "Release zip"
The release zip should probably not contain the python dir or the .git dir. OopsIUpdated.txt is questionable I guess.

[2020-12-28 00:00] jarxjarx commented on #27
Agreed. Should probably sort a new release considering #26 also makes route-sharing with other versions compatible again, so not everyone needs to have the addon from the same source.

[2020-12-28 00:21] srenauld commented on #27
Github workflow coming up in a bit.

[2020-12-28 01:27] srenauld commented on #27
@boomboo Okay, it is done. We have automated releases. You can find the latest (working) one here: https://github.com/Tomslack/ManbabyDungeonTools/releases/tag/v1.1.2 . `python`, all the git stuff and all dotfiles should be stripped.

As a bonus, we gained the ability to not have to keep the TOC version in sync!

Close when you've verified the release

[2020-12-28 01:27] srenauld commented on #27
Oh, and @jarxjarx , the route sharing should be in it.

[2020-12-28 01:55] Neparo opened #30 "ManBabyDungeonTools not loading."
I attempted to download and install this version of the addon for use, however when I reloaded and relogged I could not get this version of the addon to show up in my addon list.  I would LOVE to use this version for the lols, as it stands your data input string works wonderful and I'm using it at this moment.

[2020-12-28 01:57] srenauld commented on #30
To be specific, which version did you download? (Largely so I can test/repro)

Before releasing 1.1.2, I tested it locally, and can get it to load and show up np

[2020-12-28 02:06] Tomslack commented on #30
I think the issue that's occuring here is that you've downloaded from github rather than downloading the release asset.

You can either download the release asset to solve this problem or you can remove the -main from the file in your addon folder and that should fix this!

[2020-12-28 02:56] Neparo commented on #30
I'll try that, will update

[2020-12-28 03:02] Rubyurek commented on #30
How to install ManbabyDungeonTools:
Go to WowUp > Install Addons > URL Install > Put link > Install

That works.

[2020-12-28 03:03] Neparo commented on #30
I deleted the "-main" and it worked, i wasn't aware i downloaded the wrong thing.  I'm a github noob.

Thanks for the assistance

[2020-12-28 04:21] Zerrif opened #32 "Solution for unloaded enemy data"
Hey guys, just a quick note from someone who has the new version working (to some extent anyways). If you know then ignore.

Step 1 -> Download the most recent version of MDT (Trust Me)
Step 2 -> Download the 3.3.4 version (3f4065e) from December 13th
Step 3 -> Replace all files from current MDT with those in the 3.3.4 versioning
Step 4 -> Open MythicDungeonTools.toc, add a line at the end of the

[2020-12-28 08:31] #30 closed

[2020-12-28 09:15] Alarzzf opened #33 "Theater of Pain has no date"
I imported the MDTImport
but Theater of Pain has no date...

[2020-12-28 09:29] srenauld commented on #32
Or, you know, just add this github repository to wowup and let it work for you - we sorted out releases yesterday!

[2020-12-28 09:33] Maczuga commented on #33
![image](https://user-images.githubusercontent.com/544349/103204679-2c76bb00-48f8-11eb-83c9-4fbb61d03f46.png)
Can't confirm that.

[2020-12-28 09:36] srenauld commented on #33
@Maczuga he imported the data into old MDT. I'm... honestly not sure, never actually did that (since we have newer data than MDT at this point), and would need to test to figure out what went wrong.

anyway, @Alarzzf, recommendation for now would be to just install this add-on rather than trying to import the data, if it really struggles. download a zip for 1.1.2 in releases and unzip in your add-

[2020-12-28 09:57] ueberBrot opened #34 "Version number in ManbabyDungeonTools.toc"
Don't know if you want to adjust the version in the [ManbabyDungeonTools.toc](https://github.com/Tomslack/ManbabyDungeonTools/blob/7f8407956914ed1daabec8e450b07aeb89d7b0b8/ManbabyDungeonTools.toc#L4). It still says `3.3.4`. Should be changed to ManbabyDungeonTools newest release.
To automate this perhaps a tool like [`bump2version`](https://github.com/c4urself/bump2version) can be used for this pu

[2020-12-28 10:17] Accuracyx commented on #33
I mean this
![QQ图片20201228181444](https://user-images.githubusercontent.com/43119930/103207151-91520580-4938-11eb-8155-0da794c7c199.png)
only Theater of Pain has no date of spell
![QQ图片20201228181642](https://user-images.githubusercontent.com/43119930/103207263-d8d89180-4938-11eb-8072-f55b16f7fc2f.png)
the other dungeon is fine

[2020-12-28 10:21] srenauld commented on #34
Hey @ueberBrot !

The version in the toc on the repository is a placeholder there purely for development purposes. As you can see on the github actions [here](https://github.com/Tomslack/ManbabyDungeonTools/blob/main/.github/workflows/tagged-release.yml#L43), whenever one of us tags a release with a version (for instance, [v1.1.2](https://github.com/Tomslack/ManbabyDungeonTools/releases/tag/v1.1.2

[2020-12-28 10:22] Accuracyx commented on #33
my bad data...
not date

[2020-12-28 10:29] srenauld commented on #33
Those mobs never had abilities in MDT!

I'll keep your issue open. I'm working on a tool to automate data capture like this (ability usage particularly); when that's done we'll have ways to add those in automatically.

For now, though, I'll go over my own key logs and map out abilities for them.

[2020-12-28 10:30] ueberBrot commented on #34
Yeah I checked the download and it was the right version number. I probably should have put that better :smirk:. I didn't see that you added a workflow (nice one btw. :thumbsup:).

I will do so in the future as well (if there are any lol) and provide a PR if I can fix them.

Keep up the good work.

[2020-12-28 10:30] #34 closed

[2020-12-28 10:44] Accuracyx commented on #33
@srenauld i appreciate that.

[2020-12-28 15:53] Gennoken opened #35 "Routes dont save"
v1.1.2

upon dc/relog the routes i created are gone.

[2020-12-28 16:14] fludotlove opened #36 "Hide/Show Minimap button doesn't work"
In "Interface > Addons > ManbabyDungeonTools" there's an option to toggle the minimap icon, but no matter what it's always showing the minimap icon.

[2020-12-28 18:06] Androzavrus opened #37 "Client don't see the addon"
I have downloaded an addon recently and it doesn't work from the start because client doesn't see him in modifications.

[2020-12-28 19:39] #33 closed

[2020-12-28 19:49] srenauld commented on #33
Version `1.1.6` (available on the latest releases and through wowup) should contain as much of the spell data as I could find from my own logs for ToP.

I've also made some improvements to show spell details (such as Xav's combo), with the intention to expand on this further later on to properly guide people!

[2020-12-28 19:51] srenauld commented on #36
Hey @fludotlove !

I tried this on 1.1.6 after I was done with the ToP data edits and could not reproduce. Can you check if it still happens on that version?

[2020-12-28 19:52] srenauld commented on #35
Hey @Gennoken !

I rolled out a bunch of changes after Guilty changed the name to DungeonTools, and tried saving a route - everything seems to be in order on 1.1.6.

Can you give it a quick shot on that version (1.1.6 - you can pick it up on wowup or through the releases - https://github.com/LetsTimeIt/DungeonTools/releases/tag/v1.1.6 ), and see if you still have issues?

[2020-12-28 19:56] fludotlove commented on #36
It's working now if I do a /reload with 1.1.6 - I was using 1.1.2 previously so seems like something during those patch versions fixed it. Closing issue, thanks for resolving.

[2020-12-28 19:56] #36 closed

[2020-12-28 19:57] travisneids commented on #37
Can you please confirm that you are downloading the release and not the source code? https://github.com/LetsTimeIt/DungeonTools/releases

[2020-12-28 20:08] srenauld commented on #36
Perfect!

It was probably due to the name changes - whether to display the minimap icon is a global variable defined [here](https://github.com/LetsTimeIt/DungeonTools/blob/main/DungeonTools.lua#L146), so it is perfectly possible that one of the many search-and-replaces that happened over the past 2 days nuked that feature (and the route saving from issue #35 ) in the process.

[2020-12-28 20:14] Androzavrus commented on #37
Yeah, finally it works tnx) Just installed by your link, sr for making stupid troubles.

[2020-12-28 20:14] #37 closed

[2020-12-28 20:28] travisneids commented on #37
No worries. We've all been there - hence my advice 😉

[2020-12-28 20:34] CalistusK commented on #21
I hacked a dirty solution together as follows (tested and working) in my personal fork of the addon. The main idea I had was to associate the sublevel with the zone ID, then set the sublevel in db.presets so that it would update along with loading the correct dungeon map.

I don't think my code is elegant, thus no pull request, but hopefully this helps.
[code]

[2020-12-28 20:58] srenauld commented on #21
There's no way to make it much nicer, to be honest. Keeping the map ID as key is the right call as this guarantees O(1) lookups rather than having to go through the entire list; probably the only change would be to actually name the properties (rather than relying on somebody knowing that the first entry in the sub-map is the dungeon, and second is the floor), and build a type check + fallback in

[2020-12-28 22:14] srenauld commented on #21
@CalistusK I went for a slightly more radical refactor. Can you give it a whirl on https://github.com/LetsTimeIt/DungeonTools/tree/subzone-update , see what you think and if there's anything you'd change?

The changes:
- `UpdateDungeon` is now `UpdateDungeon(dungeonIdx, sublevel, ignoreMapUpdate, init)` - the floor is no longer a direct DB mutation
- I also went towards making it idempotent. Two c

[2020-12-28 22:36] jmartin84 opened #40 "[FEATURE REQUEST] WeakAura or plater script that reads a route and paints an indicator on name plates of mobs required by the route"
It would be pretty awesome to do some sort of integration with wa or plater to give people a visual indicator mid dungeon as to what trash is included in a route. Could eventually be extended to additional meta data like 'this pack will trigger prideful' etc etc

[2020-12-28 22:41] Gennoken commented on #35
Seem to work fine.

[2020-12-28 22:41] #35 closed

[2020-12-28 23:22] srenauld commented on #40
Hey!

I need to have a proper look at how, but I'm not saying no. It's something that could help a lot of new tanks out, for instance - map the route then auto-mark as you go along.

[2020-12-29 00:28] CalistusK commented on #21
Looks good to me! Much easier to look at than my version. 😄 I think we can use a default value for `sublevel` in `UpdateToDungeon` so we don't have to pass it in every time (see #42). Otherwise, I briefly tested your change in Spires and can confirm it's working as expected.

[2020-12-29 00:45] srenauld commented on #21
Merged; I'll have a quick play tomorrow during alt keys before releasing.

Thank you very much for the contribution!

[2020-12-29 01:49] hightin opened #46 "Unlinking mobs"
Could you unlink some packs? I can update it on my end but it reverts every time I update the addon itself. I don't know how to send you the edited version or I would go through and do it again myself and send it to you, sorry new to GitHub.

Halls of Attonement:
These mobs should be linked together and not in the group they are currently in:
Shard of Halkias 1 (G12)
Depraved Collector 1 (G12)

Sh

[2020-12-29 01:51] srenauld commented on #46
Sure can!

I'll go and test on my hunter tomorrow, just to make sure it's actually correct before releasing. Guilty, Jarx and I were planning to sweep all dungeons for this stuff.

If you see anything else, don't hesitate to edit or comment here :-)

[2020-12-29 02:49] jarxjarx commented on #46
IS the G34 for sanguine really accurate? If you pull the chamber sentinel the mistdancer should come, but the overseer doesn't.
G21 in spires are also not fully linked, the 3 etherdivers are linked, but they're not linked to the goliath.

[2020-12-29 05:12] hightin commented on #46
I don't know about pulling the Mistdancer but I know for sure if you pull the Overseer then the Sentinel does not come with. I taunt pull him every run cause that is where I spawn the pride, pulling the Overseer and killing him and the Mistdancer spawns pride.

Also in Sanguine there seems to be missing patrols (G22 I think and G29).

True about G21 in Spires, I don't run that side often so I didn

[2020-12-29 06:31] boomboo commented on #27
Looks good, apart from OopsIUpdated.txt unless you specifically decided to keep it.

[2020-12-29 08:44] srenauld commented on #46
This is when I wish the marking in the route strings didn't work off groups. Due to this, a ton of routes published out there will lose percentage. Necessary, though.

Verified every single HoA mob, you were right on all of them; I'll think of a good way to make the change while breaking as little as possible.

[2020-12-29 09:07] MartinZAtanasov opened #48 "Cannot install the addon"
Cannot find the addon in the charachter select addon list after unziping the downloaded zip file.
Its not clear how it shoulld be installed.

[2020-12-29 09:17] srenauld commented on #48
Hey!

One of the things I should get around to today is exactly that: writing documentation on how to manually install until we're on Curseforge properly.

Until then, you have two choices:

# Wowup

Wowup supports github repository release tracking. If you go to Get Addons, then click on the **Install from URL** button present here:
![image](https://user-images.githubusercontent.com/3967363/10327

[2020-12-29 09:31] MartinZAtanasov commented on #48
I did manually installed it and it works fine.
Thank you for the good work and helping the wow community!

[2020-12-29 09:33] srenauld commented on #48
Perfect. Glad I could help!

I'll close this issue now; if you struggle with anything else, don't hesitate to open another one (or reopen this one if it's related). Thank you for the kind words 🤗

[2020-12-29 09:33] #48 closed

[2020-12-29 10:41] kamilgregorczyk commented on #32
by adding to wowup you mean downloading the release and putting it into interface folder?

[2020-12-29 12:08] BastienClement commented on #32
He means https://wowup.io/

[2020-12-29 13:03] tomfulghum commented on #32
You can add AddOns from github to WowUp by using the "Install from URL" button.

[2020-12-29 13:47] spvi1011 opened #50 "Bug: Issue with Skada?"
After loading this new addon my Skada UI disappeared, can there be a conflict of some sort?

[2020-12-29 14:05] travisneids commented on #50
Are you referring to Skada Damage Meter? Should not be causing an issue. I did test just to be sure, I can run the latest version of Skada Damager Meter and Dungeon Tools.

Try turning off all of your addons, then reload with Skada first, then reload with Dungeon Tools and Skada only. Still having issues? Maybe try reinstalling Skada?

If you are not referring to Skada Damage Meter, I digress.

[2020-12-29 14:09] spvi1011 commented on #50
Did found the issue, was on my side. Thanks for the fast reply! 👍

[2020-12-29 14:09] #50 closed

[2020-12-29 15:25] Path98912 opened #51 "Routes not saving"
Love the work all, the community can't thank you enough because, fuck that guy.

I am having an issue where my routes are not saving and I have to recreate them every time.

[2020-12-29 15:31] srenauld commented on #51
Hey!

We've had somebody flag up this issue on an old version ( https://github.com/LetsTimeIt/DungeonTools/issues/35). Can you grab 1.1.6 from the releases (here: https://github.com/LetsTimeIt/DungeonTools/releases/tag/v1.1.6), or update through wowup, and let me know if it still doesn't work?

[2020-12-29 16:17] srenauld commented on #46
Just so we're all up to speed, we've split the issue in the following way behind the scenes:
- @jandres61 : Mists
- @srenauld : HoA, Sanguine Depths, Plaguefall
- @Tomslack : General look and see for consistency across dungeons

[2020-12-29 17:30] arenstam commented on #51
Hi,

I was having the same issue, i think i know how to duplicate it. If you create a route replacing the 'default' route and then log off/close the game, it will be replaced with a blank empty route.

If you create new route via 'new' and then create your route, it wont be reset after a relog/exit game.

[2020-12-29 18:04] srenauld commented on #51
@arenstam Your comment really helped. Was able to track down the _feature_ that's causing this:

https://github.com/LetsTimeIt/DungeonTools/blob/main/DungeonTools.lua#L154

                do
                for _,presets in pairs(db.presets) do
                    for presetIdx,preset in pairs(presets) do
                        if presetIdx == 1 then
                            if preset.text ~=

[2020-12-29 18:12] srenauld commented on #51
Just confirmed it ingame; that's where and how it happens: the user needs to rename the default route for it to trigger.

I'm going to scrap that right now, and when we overhaul the route container (there's so many things wrong with how routes are stored, serialized and handled. To give you an idea, I have no choice but to break a bunch of people's HoA routes because I'm about to unlink two mobs),

[2020-12-29 18:17] Path98912 commented on #51
Awesome thanks I downloaded the issues and as long as I name my route it saves perfectly.  Thanks again.

One last question and I hope this isn't cross pollinating the issues.  How do I update the add on via wowup, it isn't showing in my add on list.

[2020-12-29 18:22] srenauld commented on #51
Add this repository on it! I described it to somebody else [here](https://github.com/LetsTimeIt/DungeonTools/issues/48#issuecomment-752007225) and I have on my list of things to do for today to write documentation regarding that and a lot of other things, as these questions come up a lot.

Essentially, you go to "Get Addons", click "Install from URL", then fill in this repo's URL (https://github.c

[2020-12-29 19:00] Path98912 commented on #51
Awesome, I lied, last questions.  What's the patreon or whatever to kick some donations to you all for doing the lords work here?

[2020-12-29 19:08] srenauld commented on #51
There isn't one. There's a plan to donate all the proceeds from curseforge (when we're on it) to charity, while keeping a very small share for under-the-weather issues. How & which charity is still TBD, but the idea is on the table - and obviously, since we're not on curseforge yet, it's still only an idea.

All of the people currently involved think this should be a community add-on, community-ru

[2020-12-29 20:05] Alarzzf opened #52 "have you ever considered uploading to wowinterface or curse？"
I updated the new one，so far so good

[2020-12-29 20:29] srenauld commented on #52
It's under review at the moment :-)

[2020-12-29 23:12] Splitix commented on #52
If you are looking for an easier install you can copy the github URL link and use wowup to install from that link.

[2020-12-30 09:42] MrJeffer commented on #52
Hey, thank you for updating the addon!

Is this you on Curse? https://www.curseforge.com/wow/addons/dungeon-tools before i go downloading.

Thanks again!

[2020-12-30 10:27] rory-ferguson commented on #52
Yes it is

[2020-12-30 10:40] srenauld commented on #52
The add-on was reviewed while I was asleep. So, yes, it is!

Hold on to your hats, though; I still need to check how to do automated releases on there (I initially banked on using github actions to prepare releases, but curse has their own builder when it comes to fetched updates. I'll likely switch it to manual and build a GH action to upload remotely). For now, though, the releases are consisten

[2020-12-30 11:06] Esteth commented on #40
Blizzard has made this "Impossible" deliberately. It's not possible to tell mobs with the same name apart from each other throughout the dungeon, so if you have a "mighty monster" you have to kill, and another "mighty monster" you don't, then there's no way for the addon to highlight one but not the other.

[2020-12-30 12:49] psykzz commented on #40
Just curious for this, but does the UnitGUID not help or is that regenerated for each run?

[2020-12-30 14:29] derekmcghee opened #58 "Idea for Prideful."
I tried to implement it on my own. Got the mob to show up by editing the lua for each dungeon, and it would show up wherever i put the XY at but without a name. I thought i would try to make it moveable by hacking it into being the mob for the old BFA Nyalotha Spire to make it moveable, but still no dice. The dev panel is wonky use to add stuff to maps esp with no real instructions on how to use i

[2020-12-30 14:52] layday commented on #52
You can use the BigWigs packager for this purpose - you already have a `pkgmeta` file in the repo.  You'll find a sample workflow which uploads to GH, CF and WoWI [here](https://github.com/layday/wow-addon-template/blob/main/.github/workflows/release.yaml).

[2020-12-30 15:23] erigul commented on #58
How about adding a big red glow around the map icons that happens to trigger prideful, in addition to the existing prideful icon on that pull list? That would mean no additional icons to move around.

[2020-12-30 15:46] Hexix23 opened #60 "How i can install the addon?"
Hey , sorry for this obviusly question, but i Put the comppressed zip on retail but the addon didnt appear on the Game.

Thanks everyone will help me 👍

[2020-12-30 15:46] Hexix23 opened #61 "How i can insttal it?"
Hey , sorry for this obviusly question, but i Put the comppressed zip on retail but the addon didnt appear on the Game.

Thanks everyone will help me 👍

[2020-12-30 15:46] Esteth commented on #40
UnitGUID is regenerated for each spawn of each monster, so you can't rely on "the right guy in the 3rd pack" having the same UnitGUID from run to run.

[2020-12-30 15:50] Garabound commented on #61
https://www.curseforge.com/wow/addons/dungeon-tools

from curse, off course

[2020-12-30 15:53] #60 closed

[2020-12-30 15:54] Hexix23 commented on #61
I mean , I install on forge and after that i install this one? Or how i can do it to restore the Data of the Mobs .D
Feeling like a noobi

[2020-12-30 16:00] Tomslack commented on #61
Hi there, You can either just straight up install from this by download the release asset, or you can just download it from the linked curseforge page above.

It's a seperate addon from the one without the mob data!

[2020-12-30 16:12] Hexix23 commented on #61
Im dumb, can u explain what i need to do to take the date on the game.
Sorry for sure

[2020-12-30 16:59] Hexix23 opened #63 "How i can import the Data on the Addon? Help Please :("
I  dont know how to get the data inside the game ;(

[2020-12-30 16:59] #61 closed

[2020-12-30 17:12] Atlanta commented on #52
You can also use [ajour](https://www.getajour.com/) and install/update add-ons from GitHub repos.

![image](https://user-images.githubusercontent.com/3481141/103369445-71eae200-4aca-11eb-84b2-1655b57f1052.png)

[2020-12-30 17:13] #63 closed

[2020-12-30 17:20] erigul commented on #52
In instawow I couldn't find it searching for dungeon tools, but it shows up with a search for `curse:432055`.
Is this just because it's recently added and not discoverable yet?

[2020-12-30 17:23] layday commented on #52
Yes, the catalogue is updated once daily at 00:00 UTC.

Edit: I've pushed an update to the catalogue.

[2020-12-30 17:41] malachantrio commented on #40
Not sure if this would work (especially for patrolling mobs) but one possible option might be to have a list of the mobs names in the next pack to be pulled somewhere on the screen with an arrow pointing at the coords that those mobs are located. Wouldn't mark the pack but would give a tank the ability to quickly work out what's next without bringing up the map. It would also need to be able to un

[2020-12-30 17:45] sollie commented on #52
To install with CurseBreaker:
`install gh:LetsTimeIt/DungeonTools`

![image](https://user-images.githubusercontent.com/113411/103371213-30106a80-4acf-11eb-8126-b775c2833494.png)

[2020-12-30 17:58] srenauld commented on #58
@ErikGulliksen The glow is a good idea, but I would do both. There are a few pridefuls we kite on our routes (particularly in ToP), so having the possibility to indicate this would be ideal.

I'll see what I can come up with.

[2020-12-30 18:02] mbelsky opened #65 "DungeonTools conflicts with MDT"
Hey,

I have both DungeonTools and MDT installed and it looks like they doesn't work together.

https://user-images.githubusercontent.com/3923527/103372122-3b20c600-4ae2-11eb-9a4c-04e59372418e.mp4

And if I disable MDT then DungeonTools works well. May be you have any idea about reasons of that.

[2020-12-30 18:05] srenauld commented on #65
Yeah; same global variable. The main reason it was kept was to not break compatibility with any third-party integrations ([mdt-guide](https://www.curseforge.com/wow/addons/mdt-guide) being a good example; it was too short notice.

As a result, for now, I'm afraid it's one or the other 😢

[2020-12-30 18:40] Oglaf commented on #52
I completely forgot CurseBreaker could install addons from gitHub, thx!

[2020-12-30 20:24] LordDeimos666 opened #66 "He changed his mind"
https://t.co/Pt7Hzw0xQK

[2020-12-30 20:34] MrJeffer commented on #66
Maybe the devs that work on this addon could work with Nnoggie?

[2020-12-30 20:40] srenauld commented on #66
I've reached out to him privately (before this snafu, we actually got on decently. he's been instrumental in getting captions going for the RWF on echo's side).

I do think there is value in continuing with this. In many ways, there is value in having more than one alternative, and it also means being able to pivot in different paths while also maintaining a common core.

Deduplication of work map

[2020-12-30 20:48] FilthySerf commented on #66
I agree with Srenauld. It's good to keep this version going as well. It's good to have alternative addon choices for everything. DBM and BigWigs are a good example, they both achieve the same goal, but have their own set of features.

[2020-12-30 20:52] LordDeimos666 commented on #66
I agree also with @srenauld, was pointing out his decision, and also agree with some feature that the addon was lacking that this fork has polished imo.

Let's see how he's doing right now imho.

[2020-12-30 21:10] MateusRoscoe commented on #66
I would add that we also can't know if nnoggie will keep this instance or not in the future and there is good value in having an alternative so the community isn't dependent on just his version.

[2020-12-30 21:19] justinryder commented on #40
If this display went under the assumption that the order of pulls lines up with the order you actually run the dungeon (requiring the plan to be split into distinct pulls would help in this regard, but order added to the plan could also work), when a mob is pulled, it could make the assumption that the first match by name in the planned pull list is that monster and mark it as pulled, then eventua

[2020-12-30 21:23] srenauld commented on #40
@justinryder There would be quite a bit of value in that, particularly since it also would work as a good visual reminder. We ruined a HoA key earlier because we all forgot to pull the dredgers before the first shard to make all the pridefuls align, for instance - a visual reminder like that would've likely saved that.

[2020-12-30 21:30] kingreboot commented on #66
for this addon, will you still make it so importing data between this one and Mythic dungeon tool will work together or will this mean a split and no longer be associated with the other addon

[2020-12-30 21:35] srenauld commented on #66
@kingreboot the data is already slightly incompatible (but not to a point where importing `dungeonEnemies` from this to MDT would cause it to break). We extended and added a ton of things including combo spells over the past 3 days.

FWIW, in an absolutely ideal situation, I'd try to get the following:
- Standardize route serialization (so addons can talk to each other), with mob data bundled in (

[2020-12-30 21:36] justinryder commented on #40
This has been the feature I've always dreamed of having in MDT, but I've never known how to go about making it work. I usually resort to screenshotting the route and having that open in another window until I've memorized the path, which is...less than ideal.

I'm wondering if there would be a good way to expose the route data so that multiple addons could access it, which would allow for many dif

[2020-12-30 21:37] ErikGulliksen opened #67 "Read-only mode / use mid-dungeon"
Most of these would be for us that don't play enough to memorize all the routes, and frequently check stuff mid-run.  Perhaps these are all too niche suggestions.

It would be nice to have a read-only toggle, which would allow clicking around in a hurry mid-dungeon without risk of making accidental changes.

While in read-only mode it would be an idea to have left-clicking mobs on the map highligh

[2020-12-30 21:40] srenauld commented on #40
@justinryder @travisneids was messing around with a Plater-DBM integration today, with the intention of figuring out what is available/possible and what isn't.

We can definitely build support so other add-ons can pull route data in a format that is easy to understand; like, right now, a pitfall of the route format is that it relies on a lot of "hidden" data (coordinates aren't WoW map coordinates

[2020-12-30 21:58] DomGrieco commented on #66
@srenauld I think if this project decides to continue it will be critical that MDT and DT are compatible and one can import the same paths between the two.

[2020-12-30 22:05] srenauld commented on #66
@DomGrieco Takes two to tango on that front. Personally, I'm all for it. It'd fucking suck to have to tell people like the folks at raider.io "Hey, look, we use _this format_".

There have been similar things in the long history of software development, things about competing, proprietary formats, and they've never ended well. The best example is how Microsoft essentially [promised never to enforc

[2020-12-30 22:16] Drangleic commented on #46
Also, I believe in Halls of Atonement the Depraved Obliterators in G 12 and G 25 are should not be linked with the the Depraved Collectors and Shards of Halkias. Unless something has changed it is possible to pull the Obliterators without pulling the Collectors and Shards.

[2020-12-30 22:19] srenauld commented on #46
@Drangleic That's correct, but I need to think of a good way to split without breaking a whole bunch of people's routes, or break them as minimally as possible (right now each side is one whole group and as such, people's percentages on their currently-imported route will drop by 3-4% if I just brute-force split it.

The two obliterators on each side are linked together.

The collector is on his o

[2020-12-30 22:35] LennoxP90 opened #69 "QOL improvements"
I would love to have the ability to hide the right side bar and only show the map in sort of a read only view mode as my main usage is leaving it up during the dungeon, also having it auto swap to the correct floor like in Theatre of Pain would be awesome.

[2020-12-30 22:37] #21 closed

[2020-12-30 22:38] travisneids commented on #66
Just adding my two cents that I agree with @srenauld and most voices being echoed here. I for one will plan to continue to contribute to this project. It's never a bad idea to get a new perspective on old things.

[2020-12-30 22:39] srenauld commented on #69
The read-only mode you're talking about is exactly #67 . It's something I will look into implementing, as it would be insanely valuable for people whenever they're trying a new route out.

The auto-swap should already be working out-of-combat. We released this with 1.1.6, or should have; subzones are accounted for in every SL dungeon and MDT should be swapping to it when opened in that dungeon. I'

[2020-12-30 22:59] madar2252 commented on #66
I am happy with this project, there are so many fresh idea, and so many fixes within a few days. Maybe to create a library with mob data, what both addons are using is a good idea, but I understand it's not up only to you. I am not sharing routes often with others, so I would keep using this one, even if not compatible.

[2020-12-30 23:08] ueberBrot opened #70 "Proper Changelog For Releases"
If it is not to much trouble I would like to see a proper changelog for the new releases 😄.
Maybe adapt a git commit style (maybe [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/)) and from there move to a auto generated changelog and release notes with github actions?

Maybe its just me but at work I love the commit style and Changelogs look so much better with it.

[2020-12-30 23:09] srenauld commented on #70
It's on my list of things to do - I was putting changelogs manually on curseforge, I'll look into a way of doing this and bring back all the manual changelogs to the GH releases.

[2020-12-30 23:12] ueberBrot commented on #70
If I find the time, I will also try to invest it and help you out. But I can't promise it at the moment 😞 .

[2020-12-30 23:52] srenauld commented on #70
Okay, I've added the changelogs to both releases; I'll keep this issue open for the automation tracking, but will mark it as an enhancement for now.

Have a quality meme:
![image](https://user-images.githubusercontent.com/3967363/103387126-687d6c00-4b02-11eb-919f-7efdf2ee0f70.png)

[2020-12-31 00:09] srenauld commented on #52
We're now on curseforge, so this can be closed 😄

[2020-12-31 00:09] #52 closed

[2020-12-31 00:20] erigul commented on #67
Another QoL improvement for viewing mid-run would be to have the pull order number somehow shown on the map view. A small colour coded  1, 2, 3 etc on the corner of each group of pull icons. I suppose if there's a way to attach a note icon to a pull group on the map the same anchor position could be used for the order number?

[2020-12-31 09:01] madar2252 opened #71 "Week changes (affixes)"
Is it possible to separate the week affixes dropdown choices from the saved routes? On this week I would like to see which mobs are inspired, and I have to change to the week to 4 on every single route\dungeon one by one, as I guess the week number is saved with the route. Since no Teeming it wouldn't be a big deal, and even now I can just leave it on an Inspiring week for the whole season I guess

[2020-12-31 10:22] AmineMessabhia opened #72 "Marking the mobs"
I have a suggestion for this, it sometimes feels hard (especially at the start) to memorize which mobs you gonna kill, and which you gonna pass, is there any way someone can implement a marking for the mobs that are in the route? So you know that you have to kill marked mobs, and avoid the mobs that aren't marked.

[2020-12-31 10:40] ueberBrot commented on #70
I had a quick look into this. And I think the following should be decided first to pick a good integration into the github workflow:

Do you want to adapt a commit style like Conventional Commits or do you want to use Commits without any convention?
Depending on that, there are different github actions you could use.

[2020-12-31 12:12] Nensec commented on #67
Perhaps this could be integrated somehow in the Shift-M mini-mapview?

[2020-12-31 12:54] erigul commented on #71
Perhaps if the Affix dropdown had a new option which was 'Always current affix' or something, so the route author had to make an implicit choice between a specific week or let it auto-update each week?
I know most of my routes don't change week to week, so having this could be helpful.

Not sure how that would work with teeming though. Perhaps instead a "Always current affix (except teeming)", but

[2020-12-31 13:03] tomrus88 commented on #71
Teeming doesn't exist anymore.

[2020-12-31 13:06] srenauld commented on #70
@ueberBrot We're going to go with conventional commits on merge commits, I think. This way, there's a way to easily distinguish what will go in the changelog, it should be exhaustive (since there is no reason to push straight to `main` or `develop` when it shows up), and it still leaves the freedom for people on their own commit messages, thus striking a good balance.

(And that way, we can build

[2020-12-31 13:28] Saxayone commented on #72
To my knowledge, this is not possible.

[2020-12-31 13:33] erigul commented on #71
Oh that's wonderful. In that case I think a "always current affix" option in the dropdown would be great, and any routes with that selected with internally pick the current week and then alter the inspiring etc symbols as if that week was picked? I'm not sure if auto-detecting current week is possible?

[2020-12-31 13:39] srenauld commented on #71
I'm not entirely sure this is the right call. The reason for this is because some routes, despite not necessarily being a different mob layout, actually differ in terms of choices due to affixes.

To take a good example, on bolstering week we split a couple of pulls up due to ~~bolstering being a garbage affix~~ not being able to guarantee execution on them. This makes our routes on that week diff

[2020-12-31 14:05] erigul commented on #71
Perhaps the weekly affixes could be assigned like specs/talents are in weekauras? You can pick a single one, or go into more advanced to cherry pick (i.e. pick all except bolstering for one route, and make another bolstering route)

[2020-12-31 15:09] MrJeffer opened #74 "Discord server for DungeonTools?"
Hi there,

Is there a discord server / Patron you could setup for the community? :)

Optional Donations and such with cool perks people could use, I think is a good idea.

Just saves everyone making an Issue request on github for things that could be explained on discord and faster replies 🥇

[2020-12-31 15:10] travisneids commented on #74
I will let @srenauld weigh in here.

[2020-12-31 15:10] MrJeffer commented on #74
Updated it a little :)

[2020-12-31 15:12] srenauld commented on #74
I got the logo from the designer this morning, so I'll set the discord up. 😄

[2020-12-31 15:12] travisneids commented on #72
Good news! We are currently investigating a very similar feature. Check out issue #40

[2020-12-31 15:13] MrJeffer commented on #74
Awesome! 👯‍♂️

[2020-12-31 17:21] gxlinx commented on #40
I wonder if it would be easier to create path markers for addons like tom tom or something similar that points you in the correct direction with a small description. like Pull left pack, CC mob run past, etc, etc. They can use the UI to determine which is the correct pack to pull if things are confusing.

I wonder if it would be better if this add-on overlaid the actual map. Then you don't have to

[2021-01-01 04:23] DosParkers opened #75 "Updating from ManBabyDungeonTools?"
How do I go from ManBaby to DungeonTools without wiping out my existing routes?

[2021-01-01 06:00] jakubrpawlowski commented on #75
To do that you need to use url [https://github.com/Tomslack/ManbabyDungeonTools](https://github.com/Tomslack/ManbabyDungeonTools) instead [https://github.com/LetsTimeIt/DungeonTools](https://github.com/LetsTimeIt/DungeonTools). If you're using WoWUp.io go to the tab "Get Addons", click "Install from URL" and paste first link.

[2021-01-01 08:29] ArPharazon commented on #65
Uninstall MDT and use DungeonTools from now on.

[2021-01-01 08:58] madar2252 commented on #75
I think you can just rename your manbabydungeontools.lua to dungeontools.lua in your WTF folder, and edit the first line within the file (change the name on the same way). At least this is what I did to keep the routes from mythicdungeontools into dungeontools. (have a backup of the old manbabydungeontools.lua, as if you mess up something, the client delete it)

[2021-01-01 14:18] mbelsky commented on #65
Yea, I already did that. I'm just worried new users will stuck with that issue.

[2021-01-01 14:58] srenauld commented on #65
I'm moving all of it to a different namespace at the moment, so people can run both; also building an adapter so DT can read routes stored in MDT.

Should be done by EOD today, depending on how keys go.

[2021-01-02 03:56] DosParkers commented on #75
Thanks @madar2252 that's the solution I was looking for. I ended up just redoing the paths as I spend a lot of time fiddling around with different paths anyways.

[2021-01-02 03:56] #75 closed

[2021-01-02 08:57] madar2252 opened #77 "Halls of Atonement inspiring mistake"
One of the Stonefiend Anklebiter is marked for inspiring in G36, but he wasn't

[2021-01-02 12:59] srenauld commented on #77
Just went and checked; you're right. Will correct shortly. Thank you for the report!

We never pull that group so it didn't show up on my own logs 😢

[2021-01-02 18:41] madar2252 opened #78 "lua error when clicking on enemies in a route"
To be honest I am not sure what were I clicking on it when I got this lua error. I think something on the right side, in the list of the pulls\packs. It was a premade route what I got from somwhere in MythicDungeonTools previously.

[code]

[2021-01-02 19:17] madar2252 opened #79 "Angry triangle is back"
So this is a minor issue which is goin on a while ago in MDT, I know Noggie fixed a bit once, but looks like it's still happening here and there.

So it's 4th week, you can see the week number is green, but the angry triangle is still there, warning you it's a wrong week. You can recreate this issue by choosing any route which has stored a different week - getting the triangle correctly - then cha

[2021-01-02 19:22] srenauld commented on #78
@madar2252 I've committed a possible change over on the branch I worked on to fix all the namespacing issues. You can, for now, just open `DungeonEnemies.lua`. On line 492, you should see this:

    local text = data.name .." "..occurence..group.."\n"..string.format(L["Level %d %s"],data.level,data.creatureType).."\n".. string.format(L["%s HP"],MDT:FormatEnemyHealth(health)).."\n"

Replace with th

[2021-01-02 19:26] madar2252 commented on #78
I found it, Theater of Pain, Chamber of Conquest, there are two guys, but you get only one of them. You always get the lua error when mouseover one guy from the pair (one of the guy is broken in all of the three pairs).

![image](https://user-images.githubusercontent.com/42252230/103465078-bed3f000-4d38-11eb-9538-bb178f96e528.png)

[2021-01-02 19:27] srenauld commented on #78
Perfect, I'll fix the mob as well then; will leave the fallback to be sure.

[2021-01-02 23:15] #79 closed

[2021-01-02 23:26] srenauld commented on #77
Released in `v1.1.9`. Thank you for the report 👍

[2021-01-02 23:26] #77 closed

[2021-01-02 23:27] srenauld commented on #78
The fix is in `v1.1.8`, to make sure it never happens again. It was related to i18n 👍

I will go more in-depth on this and switch the way localization/internationalization is done to standardize, so people used to doing this do not have to know how to read/write LUA, but that's for another day.

Thank you for the bug report, and let me know if you find anything else!

[2021-01-02 23:27] #78 closed

[2021-01-03 03:23] CalistusK opened #83 "Opening HoA/SoA does not work in v1.1.9"
I have routes created in a previous version which I believe are set to week 4 affixes (Tyrannical/Inspiring/Necrotic/Prideful), in case that helps with tracking this down. I'm in the middle of a dungeon session right now so I don't have time to track this down, but I'll take a look afterwards.

[code]

[2021-01-03 04:32] srenauld commented on #83
If you're using wowup, can you quickly update and let me know if it works?

I suspect you had a route in _actual_ MDT previously with a partially broken table. In 1.1.8 and 1.1.9, code was added to automatically sync and import routes; looks like this may have caused the issue.

I added two type checks on the entry itself, and `value` inside it; if the entry is not a table, it gets overwritten by

[2021-01-03 04:39] Dairyman opened #85 "Global namespace polluting"
`mdtDB`, `oldPresetLen`, `newPresetLen`, and `currentIdx` should be local.

https://github.com/LetsTimeIt/DungeonTools/blob/e3b4cde1409654446a5e18147ecab8e53c1eeb34/DungeonTools.lua#L646-L655

[2021-01-03 04:43] srenauld commented on #85
Will fix tomorrow. Sorry about that

[2021-01-03 04:52] Sekorhex opened #86 "Suggestion: Informations in the Nameplate or Tooltip"
Would be nice to have the function to see in the tooltip or Nameplate which Mobs i mark in Dungeon Tools.
For Example: I mark some mobs on the right side and ingame when i run the route it must show it on the tooltip that i mark them.

[2021-01-03 05:09] Drangleic commented on #83
I was having the same issue and after reading this post I went into my WTF folder and found the saved variables .lua for Mythic Dungeon Tools (no longer installed) and removed those files. Dungeon Tools works fine now.

[2021-01-03 05:13] CalistusK commented on #83
I didn't carry anything over from my old MDT SavedVariables, but in DungeonTools v1.1.8, I imported routes which I believe were created in MDT v3.3.4. You can find them here for reference: https://pastebin.com/bjF89xvk

I updated my DungeonTools to v.1.1.10, and this issue is still occurring. Regarding Drangleic's suggestion, I already deleted my original MDT SavedVariables while switching over to

[2021-01-03 05:17] CalistusK commented on #86
Refer to #40 where this is being discussed in more detail.

[2021-01-03 05:17] Rubyurek commented on #86
ahh lol thanks^^

[2021-01-03 05:17] #86 closed

[2021-01-03 12:05] itsmeAnRa commented on #66
I would simply prefer using an addon run by the community rather than a single person which is involved in the competitive scene.
I see many many features that could see the light in no time thanks to contributors awesome work. It will also reduce the stress given to Nnoggie from the needs for this crucial addon.

[2021-01-03 15:27] srenauld commented on #83
You should see v1.1.11 showing up soon; the change in it is aimed at fixing this.

Whenever you open dungeon tools, it will check and remove any presets that are not deemed valid routes. This should not cause issues as, in your case, an invalid route is a route without a `value` table, which would not actually display anything.

Let me know if this fixes it; if it does I'll push it to curseforge a

[2021-01-03 16:15] Lyrex commented on #74
Any updates on the Discord server? Would love to chat with other people already contributing!

[2021-01-03 16:36] erigul commented on #83
v1.1.11 is working a bit better for me in that it doesn't completely black out like v10 did,
I still can't open HoA at all. It also seems like all routes other than De Other Side, Mists and Theater of Pain has been emptied out.

All of my routes were test routes created in this addon probably in v.6 or .7 (not imported from anywhere),

[code]

[2021-01-03 16:48] srenauld commented on #83
How on earth is `value` a number 🤔 .

The only thing I can think of as to how you ended up in that state is that the `<New Preset>` in MDT has a value of 0 (line 127 in `DungeonTools.lua`). This is likely where the problem is coming from, and when I imported all routes from MDT to dungeon tools, this stayed.

What a silly decision to have the `New Preset` be a route in the route table though. I th

[2021-01-03 17:16] erigul commented on #83
Where my routes have been emptied out i have multiple `<New Preset>` entries in the route dropdown, so could very well be related to that

[2021-01-03 18:17] madar2252 commented on #83
Got the same behavior, after updating to 1.1.9 I am just getting black screen and lua error.

[2021-01-03 18:31] srenauld commented on #83
I pushed 1.1.11 onto curseforge for now; now that I know where it is coming from (roughly) thanks to @erigul 's comment, I should be able to replicate locally and fix.

[2021-01-03 18:31] srenauld commented on #85
Released in 1.1.11!

[2021-01-03 18:31] #85 closed

[2021-01-03 20:28] madar2252 commented on #83
with 1.1.11 now if I choose Theater of Pain

[code]

and

[code]

[2021-01-03 20:34] erigul commented on #83
I got my DT.lua file out of syncthing from a yesterday, which should have my routes that then broke when I upgraded, if that helps with recreating.
[DungeonTools~20210102-171123.lua.txt](https://github.com/LetsTimeIt/DungeonTools/files/5762234/DungeonTools.20210102-171123.lua.txt)

[2021-01-03 20:57] srenauld commented on #83
I'm reworking the route storage entirely. This is such a rabbit hole of a problem where a bunch of things are calling on the defaults when they should not be:
- there are routes without `value` ( @erigul 's route in dungeon ID 33, first preset):
[code]
- There are routes without even an object
- There are routes where `value` is an integer (0 for New Preset)

All of this stems from hacks to get th

[2021-01-03 21:08] redcatelf opened #89 "M+ Timer no longer shows percentage of current pull"
As of today, the [M+ Timer](https://wago.io/M+Timer) WeakAura no longer shows the percentage of the current pull, as in [this screenshot](https://media.wago.io/screenshots/zkhTYrEsG/5fa37c7d69a32526cb8c2cc2.png) (+4.62%). Glancing at the code I think the WeakAura uses the global MDT variable, and then `MDT:GetEnemyForces`. Did something change that broke it?

[2021-01-03 21:20] srenauld commented on #89
Namespaced it to `DungeonTools` to make sure either could be run, together if needed.

I will add a fallback check when an instance is entered to repopulate the `MDT` global object if it still does not exist (as in, if any other addon is not enabled). In the meantime, you can edit it to use `DungeonTools:GetEnemyForces` - exactly equal in signature.

[2021-01-03 21:36] srenauld commented on #89
I've just pushed 1.1.12, it should be up on wowup in a second and in curseforge in a few minutes. This should solve this issue.

[2021-01-03 22:05] srenauld commented on #74
This should work: https://discord.gg/7P3m45h

It's still a huge WIP, I've been extremely busy. I still need to find a good solution for github releases/push notifications (considering webhook) and curseforge-related stuff 😢

[2021-01-04 11:06] fjavifabre commented on #89
I have upgraded to the latest version and this problem still occurs to me.

[2021-01-04 11:19] srenauld commented on #89
Checked further - the `MDT` reference is in aura init. As a result, adding this on game load would indeed cause problems.

For now, I guess we can live with some namespace clashes; I'll temporarily make the addon also export on `MDT` on boot instead of 1s after, which should fix this, but mean we're back to having either MDT or dungeontools on.

Really hoping to get a reply re: common interface so

[2021-01-04 12:34] DaFox0 opened #91 "Selecting other dungeon is broken"
Hi,

I have an issue while selecting an other dungeon on the current version (1.1.12) it doesn't display the sub maps and the actual map anymore.
![image](https://user-images.githubusercontent.com/6908332/103535703-7f6ce700-4e91-11eb-80a1-896ac77434b0.png)

Occurs on Other side, Mists, Plaguefall, Sanguine Depth, Theater of pain. If logs are needed, please let me know.

[2021-01-04 12:39] Ilendur commented on #89
Isn't it possible to put MDT in the the OptionalDeps of the TOC, then check whether it's loaded when DungeonTools loads?

[2021-01-04 13:28] srenauld commented on #89
@Ilendur That's actually a really good solution! I did not think of that.

[2021-01-04 15:03] LordDeimos666 commented on #89
Same here, all wa that use MDT as % prevision is broken right now

[2021-01-04 15:31] srenauld commented on #89
Try updating to 1.1.13 and let me know if that fixed it; I've done exactly what @Ilendur suggested and then checked on add-on start if `MDT` exists. If it doesn't, DungeonTools registers itself on that global as well.

[2021-01-04 15:40] travisneids commented on #91
I can not repeat this issue on 1.1.12. Just to make sure I understand you correctly you are saying that you are unable to select a different dungeon's sub map while in another dungeon?

[2021-01-04 15:43] srenauld commented on #91
Same issue as #83  . It's a route having a `value = 0` rather than being a proper table.

It's on my list and a pretty high prio; I'll let you know when I get it fixed.

[2021-01-04 16:27] LordDeimos666 commented on #89
https://wago.io/9TLNEO4Pt/21 used this, can confirm, 1.1.13 works now

[2021-01-04 16:47] srenauld commented on #89
Perfect. Back on to the route issue!

[2021-01-04 16:47] #89 closed

[2021-01-04 17:11] madar2252 opened #93 "Sanguine Depths missing patrol routes"
G22 and G28 are patroling around, but the route is not marked. (Sanguine Depths: Depths of Despair map)

[2021-01-05 01:12] cody-young commented on #8
I also had an issue with mis-counts in plaguefall. When I hovered over Plaguebelcher 4 (G 42) and Slime Tentacle 10 (G 43) I didn't see them giving count. I am guessing it's related to the fact that they are at half hitpoints.

[2021-01-05 19:55] chalkos commented on #40
There's an addon that already does (or did, as it got broken in one of the recent MDT versions) something towards this: https://www.curseforge.com/wow/addons/mdt-guide

It reduces the MDT window to show only map and pulls, and keeps focusing the next pull according to the current % (both on the list and on the map). It is a simple implementation but I'm not sure the wow api can provide much more..

[2021-01-05 20:38] ueberBrot commented on #70
@srenauld I had a look into a few gh-actions to create release notes. The one I like the most is [Release Changelog Builder](https://github.com/marketplace/actions/release-changelog-builder) from mikepenz.

Something that works like you described I did not find.

I will leave you a short tldr here. But it is best to have a look at it yourself.

To get the merged PRs sorted into the right category

[2021-01-08 11:48] madar2252 commented on #93
Same thing in Mists with the flyer patrols: G31, G35, G37, G41, G42

[2021-01-08 23:38] itsmeAnRa commented on #8
I tested the thoughts from @cody-young and indeed, i ran it on +2 and checked the route with MythicPlusTimer to get % of the mobs. I took notes of every mobs, and i noticed that some mobs aren't giving any % at all despite being displayed on the MDT map. For exemple : **plaguebelcher 4 doesn't give any %** but defender-of-many-eyes 8 does
So it isn't a % data issue but more of a transparency issue

[2021-01-08 23:49] srenauld commented on #8
We have a 13 plaguefall on alts; will do that tomorrow as warm-up key and I'll note down percentages carefully!

[2021-01-09 13:26] itsmeAnRa commented on #83
As a temporary workaround it seems like /reload and selecting existing route on the first displayed map would allow to open those who couldn't be opened.

[2021-01-09 13:27] #91 closed

[2021-01-09 22:58] Skadthi opened #97 "Incorrect values"
I have noticed now on multiple runs on Necrotic Wake, Spires, Plaguefall so far that the % does not add up.

According to the addon i was supposed to have 103,5% i even took some extra just in case. We killed the last add on Necrotic Wake before the third boss and we were on 98%. Similiar things happened on every run.

[2021-01-10 17:56] RazgulTraka opened #98 "Theater of Pain mob data"
The first 4 mobs are incorrectly marked as a single pack, you can skip the 3 humanoids and only do the beast without getting in combat.

[2021-01-10 22:16] CalistusK commented on #97
If you are able to share the DungeonTools route, and ideally a warcraftlogs link to one of the runs where you experienced this, I could try looking into this.

[2021-01-16 01:03] LordDeimos666 commented on #98
Can confirm this.

[2021-01-16 19:59] RTO-Chatter opened #102 "Mob Data Percentage Tracking"
[QOL] [Enhancement]
When in a dungeon, I think it'd be a good feature for it to grey out all marked pulls that are fully below the current runs %.

For example say I have 5 pulls made, each for 20%, when I hit 20%, the first pull would be greyed out in color, 40% the second pull, so on and so forth.

[2021-01-18 21:58] CalistusK opened #103 "Opening DungeonTools in arena causes errors"
Lua errors from Bugsack:
[error1.txt](https://github.com/LetsTimeIt/DungeonTools/files/5832517/error1.txt)
[error2.txt](https://github.com/LetsTimeIt/DungeonTools/files/5832518/error2.txt)
[error3.txt](https://github.com/LetsTimeIt/DungeonTools/files/5832519/error3.txt)
[error4.txt](https://github.com/LetsTimeIt/DungeonTools/files/5832520/error4.txt)

This issue causes DT to load with missing inte

[2021-01-20 18:27] cody-young opened #104 "Second floor of Necrotic Wake doesn't have a down button"
I happened to merge a pull from the first floor of necrotic wake with the second floor of necrotic wake, and I noticed that there's no down button on the second floor of necrotic wake. Specifically Stitchflesh's room.

[2021-01-20 23:11] CalistusK commented on #104
I believe this is intentional so as to not mislead users into thinking you can freely move up and down, as there is no way to go back down from Stitchwerks or Zolramus apart from dying. You may still use the sublevel dropdown in the top left to quickly move between maps for Necrotic Wake.

[2021-01-20 23:15] cody-young commented on #104
Ahh, that makes sense. Thanks for the reply!

[2021-01-20 23:15] #104 closed

[2021-01-27 14:36] Alucard2112 opened #105 "QOL suggestion: Overlay on map"
It would be really nice the current selected route overlay on the main map or have a player indicator in dungeon tools.
This could help me not getting lost on which mobs to pull in dungeons with bigger maps (like plaguefall for instance).

[2021-02-22 17:33] madar2252 opened #107 "LUA error when clicking on add pull"
I had a Plaguefall route, I've created a new route with the data of the old one, and wanted to adjust it, when I got the following lua error:

`Message: Interface\AddOns\DungeonTools\DungeonEnemies.lua:917: attempt to index field '?' (a nil value)
Time: Mon Feb 22 18:30:35 2021
Count: 1
Stack: Interface\AddOns\DungeonTools\DungeonEnemies.lua:917: attempt to index field '?' (a nil value)
[string "@

[2021-03-18 22:58] Alucard2112 opened #108 "Plaguefall new data"
Plaguefall is out of date as of patch 9.0.5

[2021-03-26 19:14] #66 closed

[2021-07-02 17:31] Alucard2112 opened #112 "9.1 Update"
The addon is still labeled as 9.0.2.
Since the new season is about to start with a new affix and a new rotation, the addon is in need of an update.
Some bosses have also been nerfed, trash packs re-grouped and some minor tweaks in dungeons are still missing.

[2022-09-19 20:24] #69 closed